################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/AntiCorruptionApplication/AntiCorruptionApplication/appsettings.json
